.logo{
  text-align: center;
}
 /* .input{
    display: flex;
  
  padding: 10px;
  font-size: 20px;
  border: 0;
  margin: auto;
  border-radius: 5px;
  width: 40%;
  
  } */

  
  .div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
